.nav-link{
    padding: 0.5rem;
    text-decoration: none;
    color: #d63384;
    font-size: 1.3em;
}




/*corps de page*/

.my-5{
    padding-top: 50px;
}
.container .design{
    margin-top: 50px;
}

#portfolio{
    margin-top: 50px;
    margin-bottom: 50px;
}

#portfolio p {
    font-size: 1.3em;
}


footer .mention{
    font-size: 1.3em;
}
